<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kevincheng.appextensions">

    <application>
        <provider
            android:name=".internal.AppExtensionsInstaller"
            android:authorities="${applicationId}.app-extensions-installer"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <receiver android:name=".internal.RestartChecker">
            <intent-filter>
                <action android:name="${applicationId}.APP_EXTENSIONS_RESTART_CHECKING" />
            </intent-filter>
        </receiver>

        <receiver android:name=".internal.ScheduleRestartReceiver">
            <intent-filter>
                <action android:name="${applicationId}.APP_EXTENSIONS_SCHEDULE_RESTART" />
            </intent-filter>
        </receiver>
    </application>
</manifest>