<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kevincheng.deviceextensions">

    <application>
        <provider
            android:name=".internal.DeviceExtensionsInstaller"
            android:authorities="${applicationId}.device-extensions-installer"
            android:exported="false" />

        <receiver android:name=".internal.ScheduleRestartReceiver">
            <intent-filter>
                <action android:name="${applicationId}.DEVICE_EXTENSIONS_SCHEDULE_RESTART" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
