<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kevincheng.deviceextensions">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application>
        <provider
            android:name=".internal.DeviceExtensionsInstaller"
            android:authorities="${applicationId}.device-extensions-installer"
            android:exported="false" />
    </application>

</manifest>
